#!/bin/bash

MY_NAME="Your Name"
MY_EMAIL=your-email-local-part
MY_DOMAIN=your-email-domain
MY_SUBLIME_BUILD=2095
MY_RUBY_VER=ruby-1.9.2-p290
MY_GEM_VER=1.8.7

MY_GIT_USERNAME=your-github-account-name
MY_GIT_TOKEN=your-github-token
